@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes goUp {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 100;
    transform: translateY(0%);
  }
}

@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes searchGoUp {
  0% {
    margin-top: 16%;
  }
  100% {
    margin-top: 10rem;
  }
}

@keyframes searchGoUpMob {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: 10rem;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-go-up {
  animation: goUp 0.7s linear forwards;
}

.animate-show-in {
  animation: showIn 0.7s linear forwards;
}

.searchBarGoUpMob {
  animation: searchGoUpMob 0.7s linear forwards;
}

@media (min-width: 769px) {
  .searchBarGoUp,
  .searchBarGoUp.md\:searchBarGoUp {
    animation: searchGoUp 0.7s linear forwards;
  }
}
